* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --base-margin: 1rem;
  --base-padding: 1rem;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #282A36;
  color: #F8F8F2;
}

.navbar {
  background: #44475A;
  color: #FF5555;
  padding: var(--base-padding);
}

.container {
  background: #44475A;
  height: 80vh;
  margin: var(--base-margin) auto;
  padding: var(--base-padding);
  text-align: center;
}
