* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --base-margin: 1rem;
  --base-padding: 1rem;
  --base-radius: 0.5rem;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #282A36;
  color: #F8F8F2;
}


.navbar {
  background: #44475A;
  color: #FF5555;
  padding: var(--base-padding);
}

.container {
  background: #44475A;
  height: 80vh;
  margin: var(--base-margin);
  padding: var(--base-padding);
  border-radius: var(--base-radius);
  text-align: center;
}

#empty-placeholder {
  color: #FF5555; 
  margin: var(--base-margin) auto;
}

#to-do-list > h2 {
  color: #50FA7B;
}

#to-do-adder > h2 {
  color: #F1FA8C;
}

#to-dos, #to-do-form {
  font-size: 2rem;
  margin: var(--base-margin) auto;
  padding: var(--base-padding);
}

#to-do-form > * {
  height: 4rem;
  width: 100%;
  font-size: 2rem;
  padding: var(--base-padding);
  text-align: center;
}
